@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  align-items: stretch;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  box-sizing: border-box;
  height: 100vh;
  margin: 0;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}

ul{
  display: flex;
  list-style-type: none;
  gap: 16px;
  margin: 0 0 0 0;
}

a{
  text-decoration: none;
  color: black;
}
.header{
  display: flex;
  justify-content: space-between;
}

.footer{
  display: flex;
  justify-content: space-between;
  background-color: lightgray;
}
.content{
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}